html * {
  font-family: "Open Sans", Sans-serif;
}

h1 {
  font-size: 2em;
  padding-bottom: 1em;
  font-weight: bold;
}

p {
  font-size: 1.5em;
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 1em;
}

.p-b-0 {
  padding-bottom: 0;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

ol {
  list-style-type: decimal;
  font-size: 1.5em;
  line-height: 1.2;
  text-align: justify;
  padding-left: 1em;
}

li {
  padding-bottom: 1em;
}

li:last-child {
  padding-bottom: 0;
}

header {
  width: 100%;
  padding: 1em 5%;
  box-sizing: border-box;
  background-color: #362c25;
}

.logo {
  height: 2em;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 5px;
}

.nav-item {
  border-right: 2px solid white;
  padding: 0.3em 1em;
  width: 8em;
  height: auto;
  text-align: center;
  box-sizing: border-box;
}

.nav-item:last-child {
  border-right: none;
}

.nav-item > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #d6ccb8;
}

.nav-item > .active {
  color: #d6ccb8;
}

.container-content {
  width: 100%;
  padding: 5% 7%;
  box-sizing: border-box;
  background-color: #d6ccb8;
  border-bottom: 0.2em solid white;
}

.hero {
  padding: 5% 7%;
  height: 578px;
  box-sizing: border-box;
  border-bottom: 0.2em solid white;
}

.hero > h1 {
  padding-bottom: 0.2em;
}

.slideshow-container {
  width: 100%;
  position: relative;
}

.mySlides {
  display: none;
  height: 578px;
  box-sizing: border-box;
  border-bottom: 0.2em solid white;
  margin-right: auto;
  overflow: hidden;
  margin-left: auto;
}

.mySlides > img {
  width: 100%;
  height: 100%;
}

.caption {
  padding: 5% 7%;
  position: absolute;
  top: 0;

}

.caption > h1 {
  padding-bottom: 0.2em;
}

.background-text {
  background: rgba(255, 255, 255, 0.352);
}

.headquarter {
  display: flex;
  align-items: center;
}

.headquarters-container-image {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.headquarters-image {
  width: 70%;
  border: 2px solid;
  border-radius: 50%;
  margin-bottom: 0.5em;
}

.headquarters-image > img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.message-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-us-container {
  width: 49%;
}

.col {
  vertical-align: middle;
  padding: 2px;
  font-size: 1.2em;
}

.col > textarea {
  resize: vertical;
  height: 10em;
}

.col-input {
  box-sizing: border-box;
  width: 100%;
}

.submit {
  margin-top: 0.2em;
  width: 100%;
  font-size: 1.2em;
  cursor: pointer;
}

.output-container {
  height: auto;
  border: 2px solid black;
}

.output {
  padding: 2em 1em;
}

.output > p {
  font-size: 1.2em;
}

.current-time {
  padding-bottom: 1em;
}

footer {
  width: 100%;
  padding: 1em 5%;
  box-sizing: border-box;
  background-color: #362c25;
  color: white;
  font-weight: bold;
  text-align: end;
}

/* Message US  > Location */
.address {
  padding-bottom: 1em;
}

.container-image {
  margin-top: 1em;
  display: block;
  height: 40vw;
  border: 2px solid black;
  background-size: cover;
  background-image: url(../img/maps.png);
}
/* Message US  > Location */

/* Portofolio*/
.wraper {
  display: flex;
  padding-top: 2em;
}

.wraper-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 90%;
}

.image > img {
  width: 100%;
  display: block;
}
/* Portofolio*/

/* Profile */
.visi-misi-wraper {
  display: flex;
}

.visi-misi-wraper-top {
  padding-bottom: 0.5em;
}

.visi-misi-wraper-bottom {
  padding-top: 0.5em;
}

.visi-misi-wraper-content {
  display: flex;
  flex: 1;
  text-align: justify;
}

.visi-misi-wraper-content-left {
  padding-right: 0.5em;
}

.visi-misi-wraper-content-right {
  padding-left: 0.5em;
}

.visi-misi-wraper-content > img {
  width: 100%;
  height: fit-content;
  display: block;
}
/* Profile */

@media only screen and (max-width: 992px) {
  .message-us {
    display: flex;
    flex-direction: column;
  }

  .message-us-container {
    width: 100%;
    padding-bottom: 2em;
  }

  .message-us-container:last-child {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar-container {
    display: flex;
    flex-direction: column;
  }

  .logo {
    padding-bottom: 0.5em;
  }
}
